h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-weight: 150;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: magenta;
}