h1{
    color: green;
    background-color: pink;
}
h2{
    color: brown;
    background-color: rosybrown;
}
button{
    color: aquamarine;
    background-color: black;
}
p{
    color: white;
    background-color: black;
}