.Tarjeta {
  width: 210px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: yellow;
  position: static;
  padding: 10px 20px;
}

.pajaro {
  width: 200px;
  border: 5px black solid;
  border-radius: 100%;
}

h1 {
  text-align: center;
}
